{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Hero Image -->
<!-- <div class="hero-image">
    <div class="hero-text">
        <h1 class="mb-4 hero-slogan">Holiday Dreams</h1>
        <a class="rounded hero-btn btn-add-post">Add a Post</a>
    </div>
</div> -->


<div class="hero-image">
    <div class="hero-text">
        <h1 class="mb-4 hero-slogan">Holiday Dreams</h1>
        <p class="mt-4 mb-4 hero-slogan">
            A place where you can share you're adventures or sit back and read about someone elses adventures,
            get some ideas of your next Holiday.
        </p>
        {% if user.is_authenticated %}
        <a href="{% url 'post_create' %}" class="rounded hero-btn btn-add-post">Add a Post</a>
        {% else %}
        <a href="{% url 'account_login' %}" class="rounded hero-btn btn-add-post">Sign Up or Log In</a>
        {% endif %}
    </div>
</div>

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container img-container">
                                {% if "placeholder" in post.featured_img.url %}
                                <img class="card-img-top image-size" src="{% static 'images/placheholder.jpg' %}"
                                    alt="placeholder image">
                                {% else %}
                                <img class="card-img-top image-size" src=" {{ post.featured_img.url }}"
                                    alt="{{ post.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title"> {{ post.title }} </h2>
                                <p class="card-text"> {{ post.excerpt }} </p>
                            </a>

                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}}
                                <span class="text-secondary .d-inline-flex"><i class="far fa-heart"></i>
                                </span>
                                {{ post.likes_count }}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="rounded page-link btn-style">&laquo; Back
                </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="rounded page-link btn-style"> NEXT &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}
{% block copyright %}
Copyright 2024 Iain Jackson
{% endblock %}